.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background: #fff; // màu trắng theo style AntD
  border-bottom: 1px solid #f0f0f0;

  &__logo {
    font-size: 18px;
    font-weight: 600;
    color: #1890ff; // xanh chủ đạo của AntD
  }

  .btn-collapse {
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
  }
}
.wrapper__calendar {
  width: 300px;
  border-radius: 8px;
}
