.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  // height: 100%;

  &__logo {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    height: 6.4rem;
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    color: #165dc0;
    &-icon {
      margin-right: 0.5rem;
      color: #165dc0;
      &.collapsed {
        margin-right: 0;
        margin-left: 0.2rem;
      }
    }
  }

  .ant-menu {
    border-right: 0;
    flex: 1;
  }

  &__actions {
    padding: 1rem;
    border-top: 1px solid #f0f0f0;
  }

  &__user {
    border-bottom: 1px solid;
    border-color: var(--ant-color-split);
    padding-bottom: 0.5rem;
    padding: 1.1rem 1rem;
    align-items: center;
    &.collapsed {
      justify-content: center;
    }
  }

  &__avatar {
    background-color: var(--ant-color-primary);
    min-width: 48px;
  }
  &__name,
  &__email {
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  &__name {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.2;
    height: 2.4;
  }
  &__email {
    color: #666;
    font-size: 1.4rem;
    line-height: 1.4;
    height: 1.4;
    -webkit-line-clamp: 1;
  }
}
