.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  // height: 100%;

  &__logo {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
  }

  .ant-menu {
    border-right: 0;
    flex: 1;
  }

  &__actions {
    padding: 1rem;
    border-top: 1px solid #f0f0f0;
  }

  .sidebar__logo {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid #f0f0f0;
    white-space: nowrap;
    color: #165dc0;
    &-icon {
      margin-right: 0.5rem;
      font-size: 1.5rem;
      color: #165dc0;
      &.collapsed {
        margin-right: 0;
      }
    }
  }
}
