.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  &.dragging {
    scroll-snap-type: none;
  }

  &.default {
    scroll-snap-type: x mandatory;
  }

  .kanban-columns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
}

.drag-overlay {
  pointer-events: none;
}
