.task-card {
  &.drag-over {
    border: 2px solid #ddd;
    opacity: 0.3;
  }

  &.drag-overlay {
    border: 2px solid var(--primary);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 2px solid var(--secondary);
    position: relative;
  }

  &__drag-btn {
    padding: 4px;
    margin-left: -8px;
    height: auto;
    cursor: grab;
    color: rgba(0, 0, 0, 0.5);
  }

  &__badge {
    margin-left: auto;
    font-weight: 600;
  }

  &__content {
    padding: 12px;
    text-align: left;
    white-space: pre-wrap;
  }
}
